<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <h1> Login</h1>
    <form action="/user/login" method="post">
        <label >Enter email</label>
        <input type="text" required name="email">
        <label >Enter password</label>
        <input type="text" required name="password">
        <button type="submit">submit</button>
    </form>
    <h1> sing up: http://localhost:3006/signup</h1>
</body>
</html>